.git
.github

**/.venv
**/__pycache__
**/*.pyc
**/*.pyo
**/*.egg-info

**/.pytest_cache
**/.mypy_cache
**/.ruff_cache
**/.coverage
**/htmlcov

**/.terraform
**/.terraform/*
**/*.tfstate
**/*.tfstate.*
**/terraform.tfstate.d

**/build
**/dist

**/*.zip
**/*.pdf

aws/
knowledge-base/extraction/infra/